<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>sight</key>
		<string>九龙瀑</string>
		<key>scenicArea</key>
		<string>黄山</string>
		<key>state</key>
		<string>安徽省黄山市</string>
		<key>pictureUrl</key>
		<string>Image_HuangShan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>30.144661</real>
		<key>longitude</key>
		<real>118.160062</real>
	</dict>
	<key>1</key>
	<dict>
		<key>sight</key>
		<string>祈年殿</string>
		<key>scenicArea</key>
		<string>天坛</string>
		<key>state</key>
		<string>北京市</string>
		<key>pictureUrl</key>
		<string>Image_TianTan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>39.883706</real>
		<key>longitude</key>
		<real>116.412826</real>
	</dict>
	<key>2</key>
	<dict>
		<key>sight</key>
		<string>峨眉山金顶</string>
		<key>scenicArea</key>
		<string>峨眉山</string>
		<key>state</key>
		<string>四川省乐山市</string>
		<key>pictureUrl</key>
		<string>Image_Emei</string>
		<key>favorite</key>
		<true/>
		<key>latitude</key>
		<real>29.52567</real>
		<key>longitude</key>
		<real>103.336802</real>
	</dict>
	<key>3</key>
	<dict>
		<key>sight</key>
		<string>天门山</string>
		<key>scenicArea</key>
		<string>张家界</string>
		<key>state</key>
		<string>湖南省张家界市</string>
		<key>pictureUrl</key>
		<string>Image_TianMenshan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>39.880904</real>
		<key>longitude</key>
		<real>115.999372</real>
	</dict>
	<key>4</key>
	<dict>
		<key>sight</key>
		<string>乾清宫</string>
		<key>scenicArea</key>
		<string>故宫</string>
		<key>state</key>
		<string>北京市</string>
		<key>pictureUrl</key>
		<string>Image_GuGong</string>
		<key>favorite</key>
		<true/>
		<key>latitude</key>
		<real>39.918058</real>
		<key>longitude</key>
		<real>116.397026</real>
	</dict>
	<key>5</key>
	<dict>
		<key>sight</key>
		<string>苏堤</string>
		<key>scenicArea</key>
		<string>西湖</string>
		<key>state</key>
		<string>浙江省杭州市</string>
		<key>pictureUrl</key>
		<string>Image_XiHu</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>30.248748</real>
		<key>longitude</key>
		<real>120.152925</real>
	</dict>
	<key>6</key>
	<dict>
		<key>sight</key>
		<string>天涯海角</string>
		<key>scenicArea</key>
		<string>三亚湾</string>
		<key>state</key>
		<string>海南省三亚市</string>
		<key>pictureUrl</key>
		<string>Image_SanYa</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>18.292417</real>
		<key>longitude</key>
		<real>109.354581</real>
	</dict>
	<key>7</key>
	<dict>
		<key>sight</key>
		<string>长白山</string>
		<key>scenicArea</key>
		<string>大兴安岭</string>
		<key>state</key>
		<string>内蒙古自治区与黑龙江省交界处</string>
		<key>pictureUrl</key>
		<string>Image_ChangBaishan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>42.047959</real>
		<key>longitude</key>
		<real>127.785391</real>
	</dict>
	<key>8</key>
	<dict>
		<key>sight</key>
		<string>塔克拉玛干沙漠</string>
		<key>scenicArea</key>
		<string>塔里木盆地</string>
		<key>state</key>
		<string>新疆维吾尔自治区</string>
		<key>pictureUrl</key>
		<string>Image_TaKeLaMaGan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>38.63891602</real>
		<key>longitude</key>
		<real>82.07885742000001</real>
	</dict>
	<key>9</key>
	<dict>
		<key>sight</key>
		<string>仙女湾</string>
		<key>scenicArea</key>
		<string>青海湖</string>
		<key>state</key>
		<string>青海省海南藏族自治区</string>
		<key>pictureUrl</key>
		<string>Image_XianNvWan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>37.200611</real>
		<key>longitude</key>
		<real>100.11535</real>
	</dict>
	<key>10</key>
	<dict>
		<key>sight</key>
		<string>莫高窟</string>
		<key>scenicArea</key>
		<string>敦煌</string>
		<key>state</key>
		<string>甘肃省敦煌市</string>
		<key>pictureUrl</key>
		<string>Image_MoGaoku</string>
		<key>favorite</key>
		<true/>
		<key>latitude</key>
		<real>40.041476</real>
		<key>longitude</key>
		<real>94.809133</real>
	</dict>
	<key>11</key>
	<dict>
		<key>sight</key>
		<string>成都熊猫基地</string>
		<key>scenicArea</key>
		<string>成都大熊猫繁育研究基地</string>
		<key>state</key>
		<string>四川省成都市</string>
		<key>pictureUrl</key>
		<string>Image_DaXiongmao</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>30.737297</real>
		<key>longitude</key>
		<real>104.14469</real>
	</dict>
</dict>
</plist>
