<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>sight</key>
		<string>九龙瀑</string>
		<key>scenicArea</key>
		<string>黄山</string>
		<key>state</key>
		<string>安徽省黄山市</string>
		<key>pictureUrl</key>
		<string>Image_HuangShan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>30.13</real>
		<key>longitude</key>
		<real>118.09</real>
	</dict>
	<key>1</key>
	<dict>
		<key>sight</key>
		<string>祈年殿</string>
		<key>scenicArea</key>
		<string>天坛</string>
		<key>state</key>
		<string>北京市</string>
		<key>pictureUrl</key>
		<string>Image_TianTan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>39.91</real>
		<key>longitude</key>
		<real>116.43</real>
	</dict>
	<key>2</key>
	<dict>
		<key>sight</key>
		<string>峨眉山金顶</string>
		<key>scenicArea</key>
		<string>峨眉山</string>
		<key>state</key>
		<string>四川省乐山市</string>
		<key>pictureUrl</key>
		<string>Image_Emei</string>
		<key>favorite</key>
		<true/>
		<key>latitude</key>
		<real>29.21</real>
		<key>longitude</key>
		<real>103.37</real>
	</dict>
	<key>3</key>
	<dict>
		<key>sight</key>
		<string>天门山</string>
		<key>scenicArea</key>
		<string>张家界</string>
		<key>state</key>
		<string>湖南省张家界市</string>
		<key>pictureUrl</key>
		<string>Image_TianMenshan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>29.0529</real>
		<key>longitude</key>
		<real>110.4915</real>
	</dict>
	<key>4</key>
	<dict>
		<key>sight</key>
		<string>乾清宫</string>
		<key>scenicArea</key>
		<string>故宫</string>
		<key>state</key>
		<string>北京市</string>
		<key>pictureUrl</key>
		<string>Image_GuGong</string>
		<key>favorite</key>
		<true/>
		<key>latitude</key>
		<real>39.9</real>
		<key>longitude</key>
		<real>116.4</real>
	</dict>
	<key>5</key>
	<dict>
		<key>sight</key>
		<string>苏堤</string>
		<key>scenicArea</key>
		<string>西湖</string>
		<key>state</key>
		<string>浙江省杭州市</string>
		<key>pictureUrl</key>
		<string>Image_XiHu</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>30.85</real>
		<key>longitude</key>
		<real>120.31</real>
	</dict>
	<key>6</key>
	<dict>
		<key>sight</key>
		<string>天涯海角</string>
		<key>scenicArea</key>
		<string>三亚湾</string>
		<key>state</key>
		<string>海南省三亚市</string>
		<key>pictureUrl</key>
		<string>Image_SanYa</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>18.32</real>
		<key>longitude</key>
		<real>109.45</real>
	</dict>
	<key>7</key>
	<dict>
		<key>sight</key>
		<string>长白山</string>
		<key>scenicArea</key>
		<string>大兴安岭</string>
		<key>state</key>
		<string>内蒙古自治区与黑龙江省交界处</string>
		<key>pictureUrl</key>
		<string>Image_ChangBaishan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>50.27</real>
		<key>longitude</key>
		<real>122.23</real>
	</dict>
	<key>8</key>
	<dict>
		<key>sight</key>
		<string>塔克拉玛干沙漠</string>
		<key>scenicArea</key>
		<string>塔里木盆地</string>
		<key>state</key>
		<string>新疆维吾尔自治区</string>
		<key>pictureUrl</key>
		<string>Image_TaKeLaMaGan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>38.63891602</real>
		<key>longitude</key>
		<real>82.07885742000001</real>
	</dict>
	<key>9</key>
	<dict>
		<key>sight</key>
		<string>仙女湾</string>
		<key>scenicArea</key>
		<string>青海湖</string>
		<key>state</key>
		<string>青海省海南藏族自治区</string>
		<key>pictureUrl</key>
		<string>Image_XianNvWan</string>
		<key>favorite</key>
		<false/>
		<key>latitude</key>
		<real>36.84</real>
		<key>longitude</key>
		<real>99.97</real>
	</dict>
</dict>
</plist>
